<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template include/head.tpl}}
    <title>隧道列表</title>
</head>
<body>
{{template include/top-bar.tpl}}
<div class="m-3 p-2 bg-white rounded">
    <form onchange="onSearchSubmit()">
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col">
                <div class="row">
                    <label class="col-sm-4 col-form-label text-end">客户端</label>
                    <div class="col-sm-8">
                        <select class="form-select" name="clientId" dropdown-tag="client">
                            <option value="">全部</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label class="col-sm-4 col-form-label text-end">隧道模式</label>
                    <div class="col-sm-8">
                        <select class="form-select" name="mode">
                            <option value="">全部</option>
                            <option value="1">TCP</option>
                            <option value="2">UDP</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-0">
    <div id="list" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-0">
    </div>
</div>
<script>
    let dataList = []
    $(() => {
        
        //客户端ID
        const clientId = getParam("clientId")
        if (clientId.length > 0) {
            addNavBtn("添加", () => {
                window.location.href = "/channel_edit.html?clientId=" + clientId
            });
        }
        bindSearchForm()
        init()
    });

    /**
     * 绑定搜索表单
     */
    function bindSearchForm() {
        const searchData = getSearchData()
        $("form").bindValue(searchData)
    }

    /**
     * 获取搜索表单数据
      */
    function getSearchData() {
        const searchDataJson = sessionStorage.getItem("channelListSearchData")
        return searchDataJson ? JSON.parse(searchDataJson) : {
            clientId: "",
            mode: "",
        }
    }

    /**
     * 初始化数据
     */
    function init() {
        $.ajaxByData("/channel/list").success(data=>{
            dataList = data
            fillData()
        }).get()
    }

    /**
     * 填充数据
     */
    function fillData() {
        const $list = $("#list")
        $list.empty()
        const searchData = getSearchData()
        dataList.filter(it=>{
            if (searchData.clientId && it.clientId != searchData.clientId){
                return false
            }
            if (searchData.mode && it.mode != searchData.mode){
                return false
            }
            return true
        }).forEach(item => {
            $list.append(`
                <div class="col px-0 pb-3 px-3">
                    <div class="bg-white rounded p-2 position-relative">
                        <div style="position: absolute;top:0;right:8px;font-size: 40px;color: #0000001c;">

                            <!--是否加密-->
                            <i class="bi ${item.securityState === 1 ? "bi-lock-fill" : "bi-unlock-fill"}"></i>
                        </div>
                        <div class="text-center fs-5"><span>${item.name}</span></div>
                        <div>客户端:<span>${item.clientName}</span></div>
                        <div>模式:<span>${item.mode === 1 ? "TCP" : "UDP"}</span></div>
                        <div>端口:<span>${item.serverPort}</span> ⇒ <span>${item.targetPort}</span></div>
                        <div>入网:<span>${item.inData}</span> &nbsp;&nbsp;出网<span>${item.outData}</span></div>
                        <div class="text-danger" style="${item.error ? "" : "display: none"}">${item.error ?? ""}</div>
                        <div class="text-end">
                            <button class="btn btn-sm btn-outline-danger" onclick="onToggleEnableClick(${item.id})">
                                <i class="bi ${item.enableState === 1 ? "bi-pause-fill" : "bi-play-fill"}"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger" onclick="onDeleteClick(${item.id})">
                                <i class="bi bi-trash3"></i></button>
                            <a class="btn btn-sm btn-outline-primary"
                               href="/channel_edit.html?clientId=${item.clientId}&id=${item.id}"><i
                                    class="bi bi-pencil-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            `)
        })
    }

    function onSearchSubmit() {
        const searchData = $("form").formData()
        sessionStorage.setItem("channelListSearchData", JSON.stringify(searchData))
        fillData()
    }

    /**
     * 删除点击事件
     * @param id
     */
    function onDeleteClick(id) {
        if (!confirm("确定删除?")) {
            return
        }
        $.ajaxByData("/channel/delete?id=" + id).success(() => {
            initGlobelData()
            init()
        }).delete()
    }

    /**
     * 修改可用状态
     * @param id
     */
    function onToggleEnableClick(id) {
        $.ajaxByData("/channel/toggle_enable?id=" + id).success(() => {
            initGlobelData()
            init()
        }).put()
    }
</script>
</body>
</html>
