<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template include/head}}
    <title>客户端</title>
</head>
<body>
{{template include/top-bar}}
<div class="mx-0 mt-3">
    <div id="list" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-0">
    </div>
</div>
<script>
    $(function(){
        addNavBtn("添加", () => {
            window.location.href = "/client_edit.html"
        });
        init()
    });

    function init() {
        $.ajaxByData("/client/list").success(data => {
            fillData(data)
        }).get()
    }

    /**
     * 填充数据
     */
    function fillData(data){
        const $list = $("#list").empty()
        data.forEach(item=>{
            $list.append(`
              <div class="col px-0 pb-3 px-3">
                <div class="bg-white rounded p-2 position-relative">
                    <div style="position: absolute;top:0;right:8px;font-size: 40px;color: #0000001c;">

                        <!--在线状态-->
                        <i class="bi opacity-50 ${item.isOnline ? "bi-wifi text-success" : "bi-wifi-off text-danger"}"></i>
                    </div>
                    <div class="text-center fs-5"><span>${item.name}</span></div>
                    <div>版本:<span>${item.clientVersion}</span></div>
                    <div>秘钥:<span>${item.key}</span></div>
                    <div>IP:<span>${item.ip}</span></div>
                    <div>入网:<span>${item.inLen}</span> &nbsp;&nbsp;出网<span>${item.outLen}</span></div>
                    <div class="text-end">
                        <button class="btn btn-sm btn-outline-danger" onclick="onToggleEnableClick(${item.id})">
                            <i class="bi ${item.enableState === 1 ? "bi-pause-fill" : "bi-play-fill"}"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" onclick="onDeleteClick(${item.id})">
                            <i class="bi bi-trash3"></i>
                        </button>
                        <a class="btn btn-sm btn-outline-primary"
                          href="/client_edit.html?id=${item.id}"><i
                                class="bi bi-pencil-square"></i></a>
                        <button class="btn btn-sm btn-outline-primary" onclick="onToChannelListClick(${item.id})">
                            隧道
                        </button>
                    </div>
                </div>
              </div>`
            )
        })

    }

    /**
     * 删除按钮点击事件
     * @param id
     */
    function onDeleteClick(id) {
        if (!confirm("确定删除?")) {
            return
        }
        $.ajaxByData("/client/delete?id=" + id).success(() => {
            initGlobelData()
            init()
        }).delete()
    }

    /**
     * 修改可用状态
     * @param id
     */
    function onToggleEnableClick(id) {
        $.ajaxByData("/client/toggle_enable?id=" + id).success(() => {
            initGlobelData()
            init()
        }).put()
    }

    function onToChannelListClick(clientId) {
        sessionStorage.setItem("channelListSearchData", `{"clientId":"${clientId}", "mode":""}`)
        window.location.href = "/channel_list.html?clientId=" + clientId
    }
</script>
</body>
</html>
