<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template include/head}}
    <title>首页</title>
</head>
<body>
{{template include/top-bar}}
<div class="m-3 p-2">
    <div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 text-muted">
        <div class="col text-center p-2">
            <div class="bg-white border rounded">
                <div class="py-2">入网流量</div>
                <div class="border-top fs-2" id="inLen">
                </div>
            </div>
        </div>
        <div class="col text-center p-2">
            <div class="bg-white border rounded">
                <div class="py-2">出网流量</div>
                <div class="border-top fs-2" id="outLen">
                </div>
            </div>
        </div>
        <div class="col text-center p-2">
            <div class="bg-white border rounded">
                <div class="py-2">在线客服端</div>
                <div class="border-top fs-2" id="onlineClientCount">
                </div>
            </div>
        </div>
        <div class="col text-center p-2">
            <div class="bg-white border rounded">
                <div class="py-2">正在监听隧道</div>
                <div class="border-top fs-2" id="channelCount">
                </div>
            </div>
        </div>
        <div class="col text-center p-2">
            <div class="bg-white border rounded">
                <div class="py-2">TCP桥接数/连接池</div>
                <div class="border-top fs-2" id="">
                    <a id="tcpBridgeCount" href="/bridge.html?flag=nps"></a>/<span id="tcpPoolCount"></span>
                </div>
            </div>
        </div>
        <div class="col text-center p-2">
            <div class="bg-white border rounded">
                <div class="py-2">UDP桥接数/连接池</div>
                <div class="border-top fs-2">
                    <span id="UdpBridgeCount"></span>/<span id="udpPoolCount"></span>
                </div>
            </div>
        </div>
        <div class="col text-center p-2">
            <div class="bg-white border rounded">
                <div class="py-2">端口转发代理</div>
                <div class="border-top fs-2" id="forwardCount">
                </div>
            </div>
        </div>
        <div class="col text-center p-2">
            <div class="bg-white border rounded">
                <div class="py-2">端口转发桥接</div>
                <div class="border-top fs-2">
                    <a id="forwardBridgeCount" href="/bridge.html?flag=forward"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{template include/data_len_chart}}
{{template include/speed_chart}}
<script>
    let es = null;

    $(window).on('beforeunload', function () {
        if (es) {
            es.close()
            es = null
        }
    });

    $(function () {
        initGetDataWebsocket()
        showDataLenChart()
        showSpeedChart()
    })

    /**
     * 加载数据
     */
    function initGetDataWebsocket() {
        if (es) return; // 防止重复创建
        es = new EventSource("/api/index/nps_status");
        es.onmessage = (e) => {
            const data = JSON.parse(e.data)
            fillData(data)
        };
    }

    /**
     * 填充数据
     */
    function fillData(data) {
        for (let key in data) {
            $("#" + key).text(data[key])
        }
    }

</script>
</body>
</html>