<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <th:block th:include="admin/include/css :: header('设置')"/>
</head>
<body>
<th:block th:include="admin/include/top-bar :: top-bar('设置')"/>

<div class="m-3 p-2 bg-white rounded">
    <form onchange="onLogoutTypeChange()">
        日志输出：
        <div class="form-check form-check-inline" th:each="item:${logoutTypeList}">
            <input class="form-check-input" type="radio" name="logoutType" th:id="${'logoutTypeFile' + item.type}" th:value="${item.type}" th:checked="${item.type == logoutType}">
            <label class="form-check-label" th:for="${'logoutTypeFile' + item.type}" th:text="${item.label}"></label>
        </div>
    </form>
</div>
<th:block th:include="admin/include/js :: js"/>
<script>

    /**
     * 日志输出类型改变
     */
    function onLogoutTypeChange() {
        $.ajax({
            url: "/admin/set/set-logout",
            type: "POST",
            data: $("form").serialize()
        }).fail($ajaxFail)
    }
</script>
</body>
</html>
